.main {
    width: 98vw;
    height: 100vh;
}

.child {

    margin-top: 25px;
    width: 220px;
}

.button {
    position: absolute;
    left: 500px;
    top: 45px;
    justify-content: space-between;
}

button {
    background-color: black;
    color: white;
    width: 80px;
    height: 40px;
    margin-left: 20px;
}

.button a {
    margin-right: 15px;
}

.heading {
    margin-top: 60px;
    width: 650px;
}

.searchonp {
    margin-top: 60px;
    width: 650px;
}

.input1 {
    width: 650px;
    height: 50px;
}

.find {
    width: 80px;
    height: 50px;
    position: absolute;
    left: 563px;
    background-color: #fc8019
}

* {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;


}

.city {
    width: 55%;
    margin-left: -32px;
    margin-top: 5px;
}

.city a {
    color: black;
}

.food {
    height: 300px;

}

.foodimage {
    width: 580px;
    height: 480px;
    position: absolute;
    right: 11px;
    top: 0px;
}


.offerfood {
    width: 98vw;
    position: absolute;
    top: 480px;
    /* margin-left: 0px; */
    height: 400px;
}

#ads {
    width: 98vw;
    height: 600px;
    margin-top: 190px;
}

#ads h1 {
    font-size: 50px;
    padding-left: 5%;
    padding-top: 10%;
}

#ads p {
    padding-left: 5%;
    color: gray;

}

#ads img {
    width: 140px;
    position: relative;
    left: 5%;
}

.phone1 {
    width: 400px;
    position: absolute;
    left: 40%;
    top: 139.2%;
}

.phone2 {
    width: 400px;
    height: 80%;
    position: absolute;
    right: 0%;
    top: 159%;

}

.footer {
    height: 100%;
    width: 98vw;
    background-color: black;
}

.footer1 {
    color: white;
    width: 300px;
    height: 380px;

    padding-top: 2%;



}

.footer1,
li,
a {
    color: white;
    margin: 5%;

}

#footer2 {

    width: 200px;
    height: 20%;
    position: absolute;
    left: 25%;
    top: 233%;
}

#footer3 {

    width: 370px;
    height: 400px;
    margin-left: 5px;
    position: absolute;
    top: 233%;
    left: 45%;
}